.page-header {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  // background: var(--headerBgColor);
  background: #eaf2fd;

  // 背景渐变 #1471df #3f9dfd
  // background: linear-gradient(to right, #1471df, #3f9dfd);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 200px;
    // width: 200px;
    height: 100%;
    cursor: pointer;
    // background-color: #3b4368;
  }

  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    padding: 0 20px;
    // .left {
    // }

    .right {
      display: flex;
    }
  }
}

// 媒体查询1024以下
// @media screen and (max-width: 1024px) {
//   .logo {
//     min-width: 60px;
//     width: 60px;
//   }
// }
