.page-header {
  display: flex;
  align-items: center;
  height: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    width: 200px;
  }

  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
  }
}
