.login-box {
  width: 100%;
  // .title {
  //   text-align: center;
  //   margin: 0 0 10px 0;

  //   h2 {
  //     margin: 0;
  //   }
  // }

  .third-icons {
    margin-bottom: 10px;
  }
  .loginBtn {
    width: 100%;
  }
}
